header {
    background-image: linear-gradient(to right, var(--primary), var(--purple));
}

header h1 {
    text-align: center;
    color: white;
    padding: 10px 0px;
}

main {
    margin-top: 1em;
}

/* Search Card */

.custom-search-card {
    height: 100%;
}

#custom-search-button,
.custom-history-button {
    width: 100%;
    margin-top: 1em;
}

/* Current Weather Card */

#current-weather-icon {
    display: inline;
    height: 3em;
}

#current-weather-title {
    display: inline;
}

/* Forecast Cards */

.custom-forecast-container {
    margin-top: 1em;
}

.custom-forecast-card {
    background-color: var(--primary);
}

.custom-forecast-card .card-body .card-title,
.custom-forecast-card .card-body .card-text {
    color: white;
}